<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="__admin__/css/pintuer.css">
<link rel="stylesheet" href="__admin__/css/admin.css">
<script src="__admin__/css/jquery.js"></script>
<script src="__admin__/css/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 管理员列表</strong></div>
  <div class="padding border-bottom">
    <button type="button" class="button border-yellow" onclick="window.location.href='adminadd'"><span class="icon-plus-square-o"></span> 添加管理员</button>
  </div>
  <table class="table table-hover text-center">
    <tr>
      <th width="5%">ID</th>
      <th width="15%">用户名</th>
      <th width="10%">管理员组</th>
      <th width="10%">操作</th>
    </tr>
    {volist name="adminlist" id="adminls"}
    <tr>
      <td>{$adminls.admin_id}</td>
      <td>{$adminls.admin_name}</td>
      <td>超级管理员</td>
      <td><div class="button-group"> <a class="button border-main" href="pass?admin_id={$adminls.admin_id}"><span class="icon-edit"></span> 修改密码</a> <a class="button border-red" href="admindel?admin_id={$adminls.admin_id}" onclick="return del()"><span class="icon-trash-o"></span> 删除</a> </div></td>
    </tr>
    {/volist}
  </table>
</div>
<script type="text/javascript">
function del(){
	if(confirm("您确定要删除吗?")==true){			
		
	}
}
</script>

</div>
</body>
</html>